<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @pupil.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pupil.last_name %>
</p>

<p>
  <strong>External ident:</strong>
  <%= @pupil.external_ident %>
</p>

<p>
  <strong>School:</strong>
  <%= @pupil.school_id %>
</p>

<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
